# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
.DS_Store

# Ignorar archivos temporales
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3-journal

# Entornos
env/
venv/
ENV/

# Django / static / media
staticfiles/
media/

# VS Code
.vscode/
